{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid">
        <h3 style="text-align: left;">
            Lista de Notícias
            <a class="btn btn-primary btn-sm float-end" href="{% url 'cadastros:noticias_create' %}">Adicionar</a>
        </h3>
        <div class="table-responsive">
            <table class="table table-striped" style="text-align: left;">
                <colgroup>
                    <col style="width: 10vw;">
                    <col style="width: 30vw;">
                    <col style="width: 10vw;">
                </colgroup>
                <tr>
                    <th>Título</th>
                    <th>Texto</th>
                    <th>Imagem</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object }}</td>
                        <td>{{ object.noticia.texto|linebreaks|truncatewords:5 }}</td>
                        <td><a href="{{ object.noticia.imagem.url }}">Ver</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" style="text-align: center;">Nenhuma notícia registrada.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}