{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid">
        <h3 style="text-align: left;">
            Lista de chamadas
            <a class="btn btn-primary btn-sm float-end" href="{% url 'cadastros:projeto_create' %}">Adicionar</a>
        </h3>
        <div class="table-responsive">
            <table class="table table-striped" style="text-align: center;">
                <colgroup>
                    <col style="width: 25vw;">
                    <col style="width: 25vw;">
                    <col style="width: 25vw;">
                    <col style="width: 25vw;">
                </colgroup>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Atualização</th>
                    <th>Opções</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object }}</td>
                        <td>{{ object.created }}</td>
                        <td>{{ object.updated }}</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{% url 'cadastros:projeto_update' object.pk %}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'cadastros:projeto_delete' object.pk %}">Excluir</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" style="text-align: center;">Nenhuma modelo de projeto registrado até o momento.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block footnote %}
{% endblock %}