{% extends 'pages/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2>Equipe: {{ form.instance.inscricao }}</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="card-body">
                <h4 class="card-title text-center">Bibliografia</h4>
                <div class="border">
                    {% csrf_token %}
                    <div class="mx-3 my-3 mt-3 mb-3">
                        <h5>Parâmetros de avaliação</h5>
                            <div class="row mb-2">
                                <label class="col-sm-4 col-form-label" for="">
                                    Quantidade mínima de referências bibliográficas:
                                </label>
                                <div class="col-sm-6 mx-3">
                                    <input type="text" readonly class="form-control-plaintext" id="inpt12" value="{{ form.instance.modelo.bibliografia_total }}">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-4 col-form-label" for="">
                                    Quantidade de referências bibliográficas apresentadas:
                                </label>
                                <div class="col-sm-1">
                                    {% render_field form.bibliografia_qde class+="form-control" %}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label" for="">
                                    Considerações:
                                </label>
                                <div class="col-sm-6">
                                    {% render_field form.consideracoes class+="form-control" %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-sm-2 col-form-label" for="inpt12">
                                    Peso da avaliação:
                                </label>
                                <div class="col-sm-6 mx-3">
                                    <input type="text" readonly class="form-control-plaintext" id="inpt12" value="{{ form.instance.modelo.bibliografia_peso }}">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label" for="inpt13">
                                    Nota da avaliação:
                                </label>
                                <div class="col-sm-2 mx-3">
                                    <input type="text" readonly class="form-control-plaintext" id="inpt13" value="{{ form.instance.nota_bibliografia }}">
                                </div>
                            </div>
                            {% if form.instance.arquivo %}
                                <div class="row">
                                    <div class="col-sm-2 mx-3 my-3">
                                        <a class="btn btn-primary btn-sm" href="{{ form.instance.arquivo.url }}">Ver arquivo</a>
                                    </div>
                                </div>
                            {% else %}
                                <p class="alert">A revisão bibliográfica ainda não foi entregue.</p>
                            {% endif %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Avaliar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
{% endblock %}

{% block footnote %}
{% endblock %}