{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h3>Chamadas em andamento</h3>
        {% for object in object_list %}
            <h4>{{ object.nome }}</h4>
            <p><em>Atualizado em {{ object.cadastrochamada.updated }}</em></p>
            <p>
                Objetivos:
                <br>
                <em>{{ object.resumo }}</em>
            </p>
            <p>Data de encerramento: {{ object.deadline_chamada }}.</p>
            <br>
            <a class="btn btn-primary btn-sm" href="{% url 'users:login' %}">Login</a>
        {% empty %}
            <p>Nenhuma chamada em andamento até o momento...</p>
        {% endfor %}
    </div>
{% endblock %}