{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h3>Chamadas abertas</h3>
        {% for object in object_list %}
            <h4>{{ object.nome }}</h4>
            <p><em>Atualizado em {{ object.cadastrochamada.updated }}</em></p>
            <p>
                Objetivos:
                <br>
                <em>{{ object.resumo }}</em>
            </p>
            <p><strong>Data limite para inscrição: {{ object.deadline_inscricao }}</strong></p>
            <p>
                <a class="btn btn-primary btn-sm" href="{{ object.edital.url }}">Edital</a>
                {% if object.cadastrochamada.updated > object.cadastrochamada.created %}
                    (Retificado em {{ object.cadastrochamada.updated }})
                {% endif %}
            </p>
            {% if request.user.is_authenticated %}
                {% if request.user.profile.nome_completo %}
                    <p><a class="btn btn-sm btn-primary" href="{% url 'chamadas:chamada_inscricao' object.pk %}">Inscrever</a></p>
                {% else %}
                    <p><span style="color: red;">Para se inscrever, você precisa finalizar o seu cadastro.</span><a href="{% url 'users:profile' %}"> Clique aqui</a></p>
                {% endif %}
            {% endif %}
        {% empty %}
            <p>Nenhuma chamada em aberto até o momento...</p>
        {% endfor %}
    </div>
{% endblock %}