{% extends 'pages/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2>Equipe: {{ form.instance.inscricao }}</h2>
        <div class="card-body">
            <h4 class="card-title text-center">Prestação de contas</h4>
            <form action="" method="POST">
                <div class="border">
                    {% csrf_token %}
                    <div class="mx-3 my-3 mt-3 mb-3">
                        <h5>Comprovantes</h5>
                        <div class="row">
                            <div class="col-sm-2">
                                <span>Comprovante 1:</span>
                            </div>
                            <div class="col-sm-2 mx-1">
                                <span>
                                    {% if form.instance.comprovante_1 %}
                                        <a href="{{ form.instance.comprovante_1.url }}">Ver</a>
                                    {% else %}
                                        <span class="col-sm-2">Sem comprovante</span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <span>Comprovante 2:</span>
                            </div>
                            <div class="col-sm-2 mx-1">
                                <span>
                                    {% if form.instance.comprovante_1 %}
                                        <a href="{{ form.instance.comprovante_1.url }}">Ver</a>
                                    {% else %}
                                        <span class="col-sm-2">Sem comprovante</span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <span>Comprovante 3:</span>
                            </div>
                            <div class="col-sm-2 mx-1">
                                {% if form.instance.comprovante_1 %}
                                <a href="{{ form.instance.comprovante_1.url }}">Ver</a>
                            {% else %}
                                <span class="col-sm-2">Sem comprovante</span>
                            {% endif %}
                        </div>
                        </div>
                        <hr>
                            <div class="row">
                                <label class="col-sm-2 col-form-label" for="">
                                    Considerações:
                                </label>
                                <div class="col-sm-6">
                                    {% render_field form.consideracoes class+="form-control" %}
                                </div>
                            </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-sm mt-3">
                                Avaliar
                            </button>    
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footnote %}
{% endblock %}