{% extends 'pages/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        {% if not form.instance.inscricao.chamada.get_projeto %}
            <p class="text-center" style="color: red;">
                O prazo para o envio do projeto de pesquisa encerrou em {{ form.instance.inscricao.chamada.deadline_projeto }}
            </p>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>
                <div class="input-group">
                    <span class="input-group-text">Projeto:</span>
                    <div class="col-sm-6 mx-3">
                        <input type="text" readonly class="form-control-plaintext" id="inpt12" value="{{ form.instance.inscricao.projeto.titulo }}">
                    </div>
                    <span class="input-group-text" style="margin-left: 4cm;">
                        Nota: {{ form.instance.nota_projeto|default:"Aguarde..." }}
                    </span>
                </div>
            </h3>
            <div class="card-body">
                <h4 class="card-title text-center">
                    Introdução
                    <span class="float-end">Nota: {{ form.instance.introducao.nota_introducao|floatformat:"0" }}</span>
                </h4>
                <div class="table-responsive text-center">
                    <table class="table table-striped">
                        <tr>
                            <th>Parâmetros de avaliação</th>
                            <th>Peso</th>
                            <th>Considerações do avaliador</th>
                            <th>Nota</th>
                        </tr>
                        <tr>
                            <td>
                                {{ form.instance.modelo.introducao_titulo_1 }}
                            </td>
                            <td>
                                {{ form.instance.modelo.introducao_peso_1 }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_consideracao_1|default:"Aguarde..." }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_nota_1|  default:"Aguarde..." }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.instance.modelo.introducao_titulo_2 }}
                            </td>
                            <td>
                                {{ form.instance.modelo.introducao_peso_2 }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_consideracao_2|default:"Aguarde..." }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_nota_2|default:"Aguarde..." }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.instance.modelo.introducao_titulo_3 }}
                            </td>
                            <td>
                                {{ form.instance.modelo.introducao_peso_3 }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_consideracao_3|default:"Aguarde..." }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_nota_3|default:"Aguarde..." }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.instance.modelo.introducao_titulo_4 }}
                            </td>
                            <td>
                                {{ form.instance.modelo.introducao_peso_4 }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_consideracao_4|default:"Aguarde..." }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_nota_4|default:"Aguarde..." }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.instance.modelo.introducao_titulo_5 }}
                            </td>
                            <td>
                                {{ form.instance.modelo.introducao_peso_5 }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_consideracao_5| default:"Aguarde..." }}
                            </td>
                            <td>
                                {{ form.instance.introducao.introducao_nota_5|default:"Aguarde..." }}
                            </td>
                        </tr>
                    </table>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Teoria
                            <span class="float-end">Nota: {{ form.instance.teoria.nota_teoria|floatformat:"0" }}</span>
                        </h4>
                        <div class="table-responsive text-center">
                            <table class="table table-striped">
                                <tr>
                                    <th>Total de conceitos</th>
                                    <th>Conceitos apresentados</th>
                                    <th>Considerações do avaliador</th>
                                    <th>Nota</th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.instance.teoria.teoria_total|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.teoria.teoria_qde|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.teoria.teoria_consideracao|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.teoria.nota_teoria|default:"Aguarde..." }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Metodologia
                            <span class="float-end">Nota: {{ form.instance.teoria.nota_teoria|floatformat:"0" }}</span>
                        </h4>
                        <div class="table-responsive text-center">
                            <table class="table table-striped">
                                <tr>
                                    <th>Parâmetros de avaliação</th>
                                    <th>Peso</th>
                                    <th>Considerações do avaliador</th>
                                    <th>Nota</th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.instance.modelo.metodologia_titulo_1 }}
                                    </td>
                                    <td>
                                        {{ form.instance.modelo.metodologia_peso_1 }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_consideracao_1|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_nota_1|  default:"Aguarde..." }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.instance.modelo.metodologia_titulo_2 }}
                                    </td>
                                    <td>
                                        {{ form.instance.modelo.metodologia_peso_2 }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_consideracao_2|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_nota_2|default:"Aguarde..." }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.instance.modelo.metodologia_titulo_3 }}
                                    </td>
                                    <td>
                                        {{ form.instance.modelo.metodologia_peso_3 }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_consideracao_3|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_nota_3|default:"Aguarde..." }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.instance.modelo.metodologia_titulo_4 }}
                                    </td>
                                    <td>
                                        {{ form.instance.modelo.metodologia_peso_4 }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_consideracao_4|default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_nota_4|default:"Aguarde..." }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.instance.modelo.metodologia_titulo_5 }}
                                    </td>
                                    <td>
                                        {{ form.instance.modelo.metodologia_peso_5 }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_consideracao_5| default:"Aguarde..." }}
                                    </td>
                                    <td>
                                        {{ form.instance.metodologia.metodologia_nota_5|default:"Aguarde..." }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Resultados e conclusão
                            <span class="float-end">Nota: {{ form.instance.resultado.nota_resultado|floatformat:"0" }}</span>
                        </h4>
                        <div class="table-responsive text-center">
                            <table class="table table-striped">
                                <tr>
                                    <th></th>
                                    <th>Critério de qualidade</th>
                                    <th>Peso</th>
                                    <th style="text-align:start;">Valor encontrado</th>
                                    <th>Valor considerado</th>
                                    <th>Valor de referência</th>
                                    <th>Nota</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Custo financeiro
                                    </td>
                                    <td>{{ form.instance.modelo.resultado_peso_1 }}</td>
                                    <td>
                                        {% if form.instance.inscricao.chamada.get_projeto %}
                                            <div class="row text-center">
                                                <div class="col-sm-5">
                                                    {% render_field form.resultado_1 placeholder=form.instance.resultado.resultado_input_1 class+="form-control form-control-sm" %}
                                                </div>
                                            </div>
                                        {% else %}
                                            {{ form.instance.resultado_input_1 }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ form.instance.resultado.resultado_fback_1|default:"Aguarde..." }}
                                    </td>    
                                    <td>{{ min_input_1 }}</td>
                                    <td>
                                        {{ form.instance.resultado.resultado_1 }}
                                    </td>    
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Critério 2
                                    </td>
                                    <td>{{ form.instance.modelo.resultado_peso_2 }}</td>
                                    <td>
                                        {% if form.instance.inscricao.chamada.get_projeto %}
                                            <div class="row text-center">
                                                <div class="col-sm-5">
                                                    {% render_field form.resultado_2 placeholder=form.instance.resultado.resultado_input_2 class+="form-control form-control-sm" %}
                                                </div>
                                            </div>
                                        {% else %}
                                            {{ form.instance.resultado.resultado_input_2 }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ form.instance.resultado.resultado_fback_2|default:"Aguarde..." }}
                                    </td>    
                                    <td>{{ max_input_2 }}</td>
                                    <td>
                                        {{ form.instance.resultado.resultado_nota_2 }}
                                    </td>    
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if form.instance.inscricao.chamada.get_projeto %}
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="float-start">
                                {% render_field form.arquivo class+="custom-file-input" %}
                            </div>
                            <div class="invalid-feedback">
                                Campo obrigatório
                            </div>    
                        </div>
                    </div>
                    {% else %}
                        {% if form.instance.arquivo %}
                            <a class="btn btn-sm btn-primary" href="{{ form.instance.arquivo.url }}">Ver arquivo</a>
                        {% endif %}
                    {% endif %}
                    {% if form.instance.inscricao.chamada.get_projeto %}
                        <div class="my-5">
                            <button type="submit" class="btn btn-sm btn-primary">Enviar projeto</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footnote %}
{% endblock %}