{% extends 'pages/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid text-center">
    <h3>
        <span style="text-align:left;">
            Projetos das equipes inscritas na chamada <strong>{{ chamada }}</strong>
        </span>
        <span class="float-end">
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary">Avaliar</button>
            </form>
        </span>
    </h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <colgroup>
                <col style="width: 20vw;">
                <col style="width: 20vw;">
                <col style="width: 10vw;">
                <col style="width: 10vw;">
                <col style="width: 10vw;">
                <col style="width: 10vw;">
                <col style="width: 10vw;">
                <col style="width: 10vw;">
            </colgroup>
            <tr>
                <th>Equipe</th>
                <th>Tema</th>
                <th>Introdução</th>
                <th>Teoria</th>
                <th>Metodologia</th>
                <th>Resultados</th>
                <th>Opções</th>
                <th>Nota</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.inscricao }}</td>
                    <td>{{ object.inscricao.tema }}</td>
                    <td>
                        <a href="{% url 'chamadas:introducao_detail_superuser' object.pk %}">{{ object.introducao.updated|date:"d/m/Y" }}</a>
                    </td>
                    <td>
                        <a href="{% url 'chamadas:teoria_detail_superuser' object.pk %}">{{ object.teoria.updated|date:"d/m/Y" }}</a>
                    </td>
                    <td>
                        <a href="{% url 'chamadas:metodologia_detail_superuser' object.pk %}">{{ object.metodologia.updated|date:"d/m/Y" }}</a>
                    </td>
                    <td>
                        <a href="{% url 'chamadas:resultado_detail_superuser' object.pk %}">{{ object.resultado.updated|date:"d/m/Y" }}</a>
                    </td>
                    <td>
                        {% if object.arquivo %}
                            <a class="btn btn-sm btn-primary" href="{{ object.arquivo.url }}">
                            Arquivo
                            </a>
                        {% else %}
                            Nenhum arquivo até o momento.
                        {% endif %}
                    </td>
                    <td>{{ object.nota_projeto }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block footnote %}
{% endblock %}