{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h3>Projetos em destaque da chamada <strong>{{ chamada }}</strong></h3>
        {% for object in object_list %}
            <h4>Equipe: {{ object }}</h4>
            <p>
                <p>Proposta:</p>
                <em>{{ object.proposta.conteudo }}</em>
            </p>
            <p>
                <a class="btn btn-primary btn-sm" href="{{ object.projeto.arquivo.url }}">Ver projeto</a>
            </p>
        {% empty %}
            <p>Nenhum projeto em destaque até o momento...</p>
    {% endfor %}
    </div>
{% endblock %}