{% extends 'pages/base.html' %}

{% block content %}
    <div class="container-fluid text-center">
        <h3>
            Lista de projetos da chamada <strong>{{ chamada }}</strong>
            <span class="float-end">
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-primary">Avaliar</button>
                </form>
            </span>    
        </h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <colgroup>
                    <col style="width: 20vw;">
                    <col style="width: 20vw;">
                    <col style="width: 10vw;">
                    <col style="width: 10vw;">
                    <col style="width: 10vw;">
                    <col style="width: 10vw;">
                    <col style="width: 10vw;">
                    <col style="width: 10vw;">
                </colgroup>
                <tr>
                    <th>Equipe</th>
                    <th>Tema</th>
                    <th>Revisao bibliográfica</th>
                    <th>Proposta</th>
                    <th>Projeto</th>
                    <th>Apresentação</th>
                    <th>Extra</th>
                    <th>Financeiro</th>
                    <th>Nota</th>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object }}</td>
                            <td>{{ object.tema }}</td>
                            <td>
                                {% if object.bibliografia.updated > object.chamada.deadline_bibliografia %}
                                    <a style="color: blue;" href="{% url 'chamadas:bibliografia_detail_superuser' object.pk %}">
                                        {{ object.bibliografia.updated|date:"d/m/Y" }}
                                    </a>
                                {% else %}
                                    <a style="color: red;" href="{% url 'chamadas:bibliografia_detail_superuser' object.pk %}">
                                        {{ object.bibliografia.updated|date:"d/m/Y" }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if object.proposta.updated > object.chamada.deadline_proposta %}
                                    <a style="color: blue;" href="{% url 'chamadas:proposta_detail_superuser' object.pk %}">
                                        {{ object.proposta.updated|date:"d/m/Y" }}
                                    </a>
                                {% else %}
                                    <a style="color: red;" href="{% url 'chamadas:proposta_detail_superuser' object.pk %}">
                                        {{ object.proposta.updated|date:"d/m/Y" }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if object.projeto.updated > object.chamada.deadline_projeto %}
                                    <a style="color: blue;" href="{% url 'chamadas:projeto_detail_superuser' object.chamada.pk %}">
                                        {{ object.projeto.updated|date:"d/m/Y" }}
                                    </a>
                                {% else %}
                                    <a style="color: red;" href="{% url 'chamadas:projeto_detail_superuser' object.chamada.pk %}">
                                        {{ object.projeto.updated|date:"d/m/Y" }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if object.apresentacao.updated > object.chamada.deadline_chamada %}
                                    <a style="color: blue;" href="{% url 'chamadas:apresentacao_detail_superuser' object.pk %}">
                                        {{ object.apresentacao.updated|date:"d/m/Y" }}
                                    </a>
                                {% else %}
                                    <a style="color: red;" href="{% url 'chamadas:apresentacao_detail_superuser' object.pk %}">
                                        {{ object.apresentacao.updated|date:"d/m/Y" }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'chamadas:extra_detail_superuser' object.pk %}">
                                    {{ object.extra.updated|date:"d/m/Y" }}
                                </a>
                            </td>
                            <td>
                                {% if object.financeiro.updated > object.chamada.deadline_projeto %}
                                    <a style="color: blue;" href="{% url 'chamadas:financeiro_detail_superuser' object.pk %}">
                                        {{ object.financeiro.updated|date:"d/m/Y" }}
                                    </a>
                                {% else %}
                                    <a style="color: red;" href="{% url 'chamadas:financeiro_detail_superuser' object.pk %}">
                                        {{ object.financeiro.updated|date:"d/m/Y" }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ object.nota }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9">Nenhum projeto está cadastrado nesta chamada.</td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block footnote %}
{% endblock %}