{% extends 'pages/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h3>Redefinição de senha enviada</h3>
    <hr class="mt-4">
    <p>Nós te enviamos um email com instruções detalhadas para configurar sua senha, se uma conta existe com o email fornecido, você receberá a mensagem em breve. Se não recebeu um email, por favor certifique-se que forneceu o endereço que está cadastrado, e verifique sua pasta de spam.</p>
    {% endblock %}
</div>

{% block footnote %}
{% endblock %}